extends pug/base

append vars
	- html.classList.push("page-index")
	- meta.charset = "utf-8"
	- meta.description = "Shuledas"
	- title = "Shuledas"
	- meta.viewport = "width=device-width, initial-scale=1"
block content 
	.candidate
		.main-popup--note.candidate-popup--note
			p Поставьте флажки напротив блоков, если они соответствуют вашим требованиям к соискателю 
		header.header
			.container  
				.col-12
					.row.justify-content-between
						.logo.align-self-center
							a(href="/")
								img(src="images/logo/logo.png")
						nav.header-nav.flex
							.mobile-toggle
								span.mobile-toggle--item
								span.mobile-toggle--item
								span.mobile-toggle--item
							ul.header-nav--ul.flex
								mixin nav_link(link, text)
									li.header-nav--li
										a(href=link).header-nav--link=text
								li.header-nav--li
									a(href="/").header-nav--link.active Что такое Schuledas
								+nav_link("/school_search.html", "Школы")
								+nav_link("/universities_search.html", "Вузы")
								+nav_link("/articles.html", "Статьи")
								+nav_link("/post.html", "Статья")
								+nav_link("/forum.html", "Форум")
								li.header-nav--li.sublist
									a(href=link).header-nav--link Доп. стр.
									ul.submenu
										+nav_link("/about_us.html", "О нас")
										+nav_link("/contact_us.html", "Связаться с нами")
										+nav_link("/chat_from_univer.html", "Чат")
										//- +nav_link("/chat_from_user.html", "Чат от пользователя")
										+nav_link("/school_not_paid.html", "Школа без платы")
										+nav_link("/school_paid.html", "Школа с платой")
										+nav_link("/opinion.html", "Блог")
										+nav_link("/profile.html", "Профиль редактировать")
										+nav_link("/profile_full.html", "Профиль")
										+nav_link("/news.html", "Новости")
										+nav_link("/university_not_paid.html", "вуз без платы")
										+nav_link("/university_paid.html", "вуз с платой")
										+nav_link("/specialization_not_paid.html", "Специльность без платы")
										+nav_link("/specialization_paid.html", "Специльность с платой")
										+nav_link("/school_list.html", "Список школы")
										+nav_link("/universities_list.html", "Список ВУЗа")
								li.header-nav--li
									a(href="/search.html").header-nav--link.header-nav--search Поиск
										i.fas.fa-search
							.header-user.align-self-center
								img(src="images/shuledas_career/avatar.png", alt="")
								.header-user--arrow
									i.fas.fa-chevron-down
									ul
										li
											a(href="#") some page?
		main 
			.cv-fon
				img(src="images/shuledas_career/avatar_big.png", alt="")
			.container
				.row
					.col-12.col-xl-6.cv-left
						img(src="images/shuledas_career/avatar.png", alt="").cv-avatar
						.cv-exp.col-12
							h2.h2 Опыт
							.row
								mixin cv_expr(company,position,did,date)
									.cv-exp-content
										p.cv-company=company
										p.cv-position=position
										p.cv-did=did
										p.cv-date=date

								
								+cv_expr(   'DecisionMapper',
											'UI/UX Designer (Team leader)',
											'Mobile/web apps design with animations and care for each pixel',
											'Aug 2015 – Feb 2018 • 2 yrs 7 mos'	 )
								+cv_expr(   'Freelance',
											'UI/UX Designer',
											'Design websites and mobile applications',
											'Июль 2014 – Июль 2015 • 1 год 1 месяц'	 )
								+cv_expr(   'Elantum',
											'UI/UX Designer (Team leader)',
											'Website design and graphic arts industry, developing solutions to increase sales of small and medium business',
											'Ноябрь 2010 – Январь 2012 • 1 год 3 месяца'	 )
						.cv-exp.col-12
							h2.h2 Статистика
							.cv-chart
								.cv-chart--top.flex.justify-content-between
									span.eye просмотры
									.views.flex
										span 15  
										span за 
										.filter-select
											select
												option(value="1") Сантябрь
												option(value="2") Октябрь
												option(value="3") Ноябрь
								#chartView
							.cv-chart
								.cv-chart--top.flex.justify-content-between
									span.offer Предложения / Отклик
									.views.flex
										span 15  
										span за 
										.filter-select
											select
												option(value="1") Сантябрь
												option(value="2") Октябрь
												option(value="3") Ноябрь
								#chartOffer


						
							
					.col-12.col-xl-6.cv-right
						
						.cv--item
							h1.h1 Viktor Mayorov
							.cv-full-content.fst
								span Consultant UI/UX Architect, Designer who Codes, Product Designer
								.cv-person.flex.flex-column
									.cv-person--info.location.conformity
										p локации
										p.info Cupertino, US (HQ) 1 Apple Park Way
									.cv-person--info.site.conformity
										p Веб сайт
										p.info https://vik.com/
									.cv-person--info.tel.conformity
										p телефон
										p.info +1 234 567 89 01
									.cv-person--info.email.conformity
										p email
										p.info viktor@gmail.com
									.cv-person--info.salary.conformity
										p Зарплатные ожидания  в год
										p.info €100,000 – €130,000
						.cv--item 
							h2.h2
								span.h-title Навыки
							.cv-full-content.flex.flex-wrap
								mixin skills(skill)
									.cv-point.skill.conformity
										p=skill
								+skills('UI/UX')
								+skills('Cinema 4D')
								+skills('Sketch')
								+skills('JIRA')
								+skills('HTML')
								+skills('CSS')
								+skills('Adobe Creative Cloud')
								+skills('Agile (Xp, Scrum)')
								+skills('JS')

						.cv--item 
							h2.h2
								span.h-title Знание языков
							.cv-full-content.flex.flex-column
								mixin lang(lang,lang_lvl)
									.cv-point.lang.conformity
										p=lang
										p=lang_lvl

								+lang('English', 'Professional working proficiency')
								+lang('Russian', 'Native or bilingual proficiency')
								+lang('Ukrainian', 'Native or bilingual proficiency')

						.cv--item 
							h2.h2
								span.h-title Образование
							.cv-full-content.flex.flex-column
								mixin edu(lang,lang_lvl)
									.cv-edu.conformity
										p=lang
										p=lang_lvl

								+edu('Crimean Economic Institute of Kiev Hetman National Economic University', 'Management • (2007 – 2012)')
								+edu('Crimean Economic Institute of Kiev Hetman National Economic University', 'Management • (2007 – 2012)')

						.cv--item 
							h2.h2
								span.h-title Сертификаты
							.cv-full-content.flex.flex-column
								mixin sert(lang,lang_lvl)
									.cv-sert.conformity
										img(src="images/shuledas_career/sert.png")
										.cv-sert--info
											p=lang
											p=lang_lvl

								+sert('Crimean Economic Institute of Kiev Hetman National Economic University', 'Management • (2007 – 2012)')
								+sert('Crimean Economic Institute of Kiev Hetman National Economic University', 'Management • (2007 – 2012)')
	.candidate-settings.flex
		.container
			.row.justify-content-between.align-items-center
				a(href="").download  Скачать
				.connect.flex.align-items-center
					p Добаваить заметку
					.candidate-conformity.flex.align-items-center
						p Соотвествие
						.conformity-votes.flex
							i.fas.fa-minus
							input(type="text" value="0" maxlength="3")
							i.fas.fa-plus
					.btn Связаться 
	
	.notice
		form
			input(type="text" placeholder="Заметка...")
			input(type="submit" value="Ok")
								
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
	script(src="js/jquery-3.1.1.min.js")

