extends pug/base

append vars
	- html.classList.push("page-index")
	- meta.charset = "utf-8"
	- meta.description = "Shuledas"
	- title = "Shuledas"
	- meta.viewport = "width=device-width, initial-scale=1"
	<link rel="stylesheet" href="css/slider/jslider.css" type="text/css">

block content 
	include header.pug
	main.content   
		.product-banner 
			.product-banner-content
				h2 Finden Sie Kandidaten für Ihr Team, dort wo sie 

			img(src="images/type-bg3.jpg", alt="")
			.container.product-types-btn.flex
				<a class="btn btn--candidates-relative" href="https://www.schuledas.com/job/ru/search/resume">Kandidaten finden</a>
				<a class="btn btn--candidates-relative" style="background: #29B8A4;" href="https://www.schuledas.com/job/ru/employer/services">Unsere produkte</a>
		
		.container.services-item
			.col-12
				.row
					.col-12
						h2.h2 Individuelle Leistungen
					.col-12
						.services-item-descr

							h3 Der Kunde bekommt im Rahmen dieser Dienstleistung die folgenden Leistungen der SCHULEDAS:
							p a. SCHULEDAS sorgt für die Durchsicht des Diploms und Überprüfung der Akkreditierung der Universität und / oder Fachrichtung des vom Kunden ausgewählten Kandidaten.
							p b. SCHULEDAS sorgt für die Unterstützung beim Ausfüllen des Antragsformulars für die Diplomanerkennung.
							p c. SCHULEDAS sorgt für die Bereitstellung einer Liste der erforderlichen Dokumente zur Anerkennung des Diploms mit Anweisungen zum Format, Anzahl der Exemplare, Anforderungen für die Übersetzung, Beglaubigung usw.
							p d. SCHULEDAS sorgt für die Vermittlung von Kontakten zertifizierter Übersetzer für eine professionelle Übersetzung der vom Kandidaten übermittelten Dokumente ins Deutsche.
							p e. SCHULEDAS sorgt für das Monitoring des gesamten Prozesses bis zur Empfangsbestätigung seitens der Prüfstelle für internationale Diplomanerkennung.
							p f. Falls erforderlich, wird SCHULEDAS vom Kandidaten bevollmächtigt, mit der Prüfstelle für internationale Diplomanerkennung Kontakt aufzunehmen. SCHULEDAS vertritt dabei die Interessen des Kunden und dem von ihm ausgewählten Kandidaten.
							p g. Nachdem die Diplomanerkennung erteilt wurde, erklärt SCHULEDAS dem Kandidaten alle erhaltenen Informationen.
				.row.justify-content-center
					.col-12.plan-text-item
						p.plan-title Optional zubuchbare Lösungen:
						.plan-price
							.filter-by.flex.filter-career
								.filter-by--type
									input(type="checkbox" name="filter-price" data-price="150000" value="150000").filter-by--input
									span.filter-by--mask
							span Veröffentlichung eines Artikels zu Ihrem Unternehmen auf der Mediaseite von schuledas
							.plan-price--checkbox 
								span(data-price="150000") € 1,500
						.plan-price
							.filter-by.flex.filter-career
								.filter-by--type
									input(type="checkbox" name="filter-price" data-price="70000" value="70000").filter-by--input
									span.filter-by--mask
							span Unterstützung und Monitoring bei der Diplomanerkennung  für Ihren Kandidaten
							.plan-price--checkbox 
								span(data-price="70000") € 700
						.plan-price
							.filter-by.flex.filter-career
								.filter-by--type
									input(type="checkbox" name="filter-price" data-price="70000" value="70000").filter-by--input
									span.filter-by--mask
							span Unterstützung und Monitoring beim Einreise- und Visumverfahren für Ihren Kandidaten
							.plan-price--checkbox 
								span(data-price="70000") € 700
						.plan-price
							.filter-by.flex.filter-career
								.filter-by--type(style="background-color: rgb(175, 192, 255);")
									input(type="checkbox" name="filter-price" data-price="000" value="0").filter-by--input
									span.filter-by--mask
							span Unterstützung und Monitoring bei der Buchung eines passenden Sprachkurses für Ihren Kandidaten
							.plan-price--checkbox 
								span(data-price="000").active € 0

				.container.anfragen-block
					.row.align-items-center.flex-column
						.btn-details-wrap
							.btn Anfragen

		.block-line
		.container
			.col-12
				.row.justify-content-center
					.col-12
						h2.h2 Choose another plan 
					mixin benefit_item(summary,title,descr,icon,link)
						.col-12.col-md-6.col-xl-3
							.benefit-item
								a(href=link) 
								p.benefit--title=summary 
							 
								//- img(src=icon, alt="").benefit--icon
								.btn Подробнее
					mixin benefit_item(summary,link,image)
						.col-12.col-md-6.col-xl-3
							.product-types-item
								a(href=link)
								img(src=image)
								//- p.benefit--summary=summary
								//- p.benefit--title=title
								//- p.benefit--descr=descr
								//- img(src=icon, alt="").benefit--icon
								//- p.benefit--summary
								p.benefit--title=summary
								//- p.benefit--descr=descr
			 
								//- img(src=icon, alt="").benefit--icon
								.btn Подробнее
					+benefit_item(  'Stellenanzeige veröffentlichen', 
									'/products_types_item.html',
									'images/type.jpg')
					+benefit_item(  'Zugang zur Bewerberdatenbank', 
									'/products_types_item.1.html',
									'images/type1.jpg') 
					+benefit_item(  'Stellenanzeigen via E-Mail an Ihre Zielgruppe', 
									'/products_types_item.3.html',
									'images/type3.jpg')
	include footer.pug